<template name="adminPage">
	<p>Current Meteor User Id: {{currentMeteorUserId}}</p>
	<p>
		Current Resturant Code: {{currentRestaurantCode}}<br>
		<form>
		<input type="text" name="Rcode" placeholder="Edit your Rcode here">
		<input type="submit" value="Edit">
		</form>
		<p id="editRcodeError"></p>
	</p>

	<p>
		Current number of tables: {{currentTableAmt}}
		<button class="addTable">Add</button>
		<button class="removeTable">Remove</button>
		<p id="removeErrorMsg"></p>
	</p>

	<h2>Menu:</h2>
	{{> addMenuItemForm}}<br>
	<p id="deleteMenuError"></p>
	<ol>
		{{#each menulist}}
		<li class="menuitm">{{menuitem}} : ${{itemprice}} <button class="menuDel">delete</button></li>
		{{/each}}
	</ol>
</template>
