<!-- this is forms the basis of every webpage as loaded by The Iron Router -->
<!-- {{> yield}} is the template that The Iron Router will sub with other templates -->
<template name="layout">
	<p>
	{{#if currentUser}}
	{{else}}
	Restaurant Owner? 
	{{/if}}
	{{> loginButtons}}
	</p>
	{{#if currentUser}}
	| <a href={{pathFor 'adminPage'}}>Admin Page</a> | 
	<a href={{pathFor 'tableLogin'}}>Table Login</a> | 
	<a href={{pathFor 'tablesList'}}>Tables List</a> | 
	<a href={{pathFor 'masterOrdersList'}}>Master Orders List</a> |
	<br><br>
	{{/if}}
	<div class="container">
		<div id="main">
			{{> yield}}
		</div>
	</div>
</template>

<!-- this code was from the tutorial, keeping from reference purposes -->
<!-- <template name="layout"> -->
<!-- 	<div class="container"> -->
<!-- 		<header class="navbar navbar-default" role="navigation"> -->
<!-- 			<div class="navbar-header"> -->
<!-- 				<a class="navbar-brand" href="{{pathFor 'postsList'}}">Microscope</a> -->
<!-- 			</div> -->
<!-- 		</header> -->
<!-- 		<div id="main"> -->
<!-- 			{{> yield}} -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </template> -->
