<template name="masterOrdersList">
	<!-- <button>Sort by time</button> -->
	<!-- <button>Sort by table</button> -->
	<!-- <br><br><br> -->
	<strong>Orders:</strong><br><br>
	{{#each orderlist}}
	<li>
		Table {{tablenum}}: {{menuitem}} x{{qty}}
		<button class="markCooked">Mark as cooked</button>
	</li>
	{{/each}}

	<br><strong>Cooked:</strong><br><br>
	{{#each cookedlist}}
	<li>
		Table {{tablenum}}: {{menuitem}} x{{qty}}
		<button class="unmarkCooked">Unmark as cooked</button>
		<button class="markServed">Mark as served</button>
	</li>
	{{/each}}

	<br><strong>Served:</strong><br><br>
	{{#each servedlist}}
	<li>
		Table {{tablenum}}: {{menuitem}} x{{qty}}
		<button class="unmarkServed">Unmark as served</button>
	</li>
	{{/each}}
</template>
