<template name="menuPage">
	<div>
		<h2>Current Table: {{currenttabl}}</h2>
		<h1>Menu List:</h1>
			<!-- {{> addMenuItemForm}}<br> -->
			<ol>
				{{#each menulist}}
				<li class="menuitm {{selectedMenuItem}}">{{menuitem}}: ${{itemprice}}</li>
				<!--<li>
					{{menuitem}}
					 <button class="addmenuitm">add</button>
				</li>-->
				{{/each}}
			</ol>
			<!-- <br><button class="remove">Remove Menu Item</button> -->

		<h3>Unconfirmed Orders:</h3>
		<!-- unconfirmed orders is internally referred to as 'standing orders' -->
		<!-- <button class="removeOrder">Remove Selected Order</button><br><br> -->
		<ol>
			{{#each standingorders}}
			<li class="orderitm">{{menuitem}}  x{{qty}}
				<button type="button" id="add" class="add">+</button>
				<button type="button" id="sub" class="sub">-</button>
				<button type="button" id="del" class="del">delete</button>
				${{unconfirmedcost}}
			</li>
			{{/each}}
		</ol>
		Total: ${{unconfirmedtotalcost}}
			<br><button class="sendOrders">Confirm Orders</button>

		<h3>Confirmed Orders:</h3>
		<ol>
			{{#each confirmedorders}}
			<li>{{menuitem}}  x{{qty}}&emsp;(${{cost}})&emsp;{{orderstatus}}</li>
			{{/each}}
		</ol>
		Total: ${{confirmedtotalcost}}
			<!-- <br><button class="clearCfmOrders">Clear Confirmed Orders</button> -->
	</div>
</template>
