<template name="tableLogin">
	<div>
		<p>{{> loginButtons}}</p>
		<h1 style="text-align:center">Welcome to omu</h1>
		<form style="text-align:center">
			<input type="text" name="tableLoginID" placeholder="Enter your Table ID" required>
			<input type="submit" value="Go!">
		</form>
		<p id="loginErrorMsg"></p>
		<p>Table IDs are 6 digits long, the first 2 digits are the table number and the last 4 digits are the validation codes for the table number. Right now all validation codes are hardcoded as '1234'</p>
		<p>eg '371235': '37' is the table number and '1235' is the validation code.</p>
	</div>
</template>
